# Normalize line endings for all Salesforce metadata to LF
*.xml       text eol=lf
*.cls       text eol=lf
*.trigger   text eol=lf
*.js        text eol=lf
*.json      text eol=lf
*.md        text eol=lf
*.txt       text eol=lf
*.csv       text eol=lf
*-meta.xml  text eol=lf
